* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B91450;
    color: black;
}

h1 {
    padding: 30px 0px;
    text-align: center;
    color: white;
}

.card {
    max-width: 1000px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: white;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.border-user {
    height: 125px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}

th,
td {
    border: none;
}

p {
    color: #B91450;
    font-weight: 700;
}

input {
    border: 1px solid #B91450;
}

button {
    background-color: lightgrey;
    padding: 3px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

span {
    color: #B91450;
    font-weight: 700;
}

button:hover {
    border: 2px solid orange;
}